.Addtofavorite {
  font-size: 1rem;
  padding: 5px;
  background-color: black;
  border-color: green;
  border-width: 0.3em;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.Removefromfavorite {
  background-color: black;
  border-color: red;
  border-width: 0.3em;
  font-size: 1rem;
  padding: 5px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.Button:hover {
  transform: scale(1.2);
}
