.Btn {
  border-radius: 50%;
  font-size: 1rem;
  border-width: 0.3em;
  border-radius: 10px;
  cursor: pointer;
  background: black;
  color: white;
  padding: 5px;
}

@media (min-width: 813px) {
  .favListIcon {
    position: absolute;
    font-size: 15px;
    right: -2px;
    top: 4px;
  }
}

.headerfavIcon {
  position: absolute;
  font-size: 15px;
  right: 0px;
  top: 0px;
}

.PaginationBtn {
  margin: 10px;
  font-size: 25px;
  height: 40px;
  width: 50px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid #323232;
}

.dayMode {
  color: white;
}

.nightMode {
  color: black;
}

.Btn:hover {
  transform: scale(1.1);
  transition: 2s;
}

.noBorder {
  border: none;
}

.Icon {
  font-size: 30px;
  margin: auto;
}

.setMargin {
  margin-right: 10px;
}

.greenBorder {
  border: 2px solid green;
}

.redBorder {
  border: 2px solid red;
}

.PaginationBtn:hover {
  transform: scale(1.1);
  transition: 1s;
}

.currentPageShadow {
  box-shadow: 0 0 15px #719ece;
}
