@media (max-width: 812px) {
  .headerlist.hidden {
    display: none;
  }
}

@media (min-width: 813px) {
  .hamburgerContainer.hidden {
    display: none;
  }
}

@media only screen and (min-width: 813px) and (max-width: 1000px) {
  body {
    font-size: 1.5vw;
  }
}

.header {
  width: 85%;
  margin: auto;
  height: 5rem;
  list-style: none;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.hamburger {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.hamburgerContainer {
  position: relative;
  left: 0;
  top: 25px;
}

.headerlist {
  display: flex;
  flex-direction: row;
}

.closeIcon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.closeIcon {
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  margin-bottom: 20px;
}
