@media (max-width: 812px) {
  .headerlist.hidden {
    display: none;
  }
}

@media (min-width: 813px) {
  .hamburgerContainer.hidden {
    display: none;
  }
  .dropdownlist.hidden {
    display: none;
  }
}

.header {
  width: 85%;
  margin: auto;
  height: 5rem;
  list-style: none;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.dropdown {
  height: 1000px;
  background-color: black;
  animation-duration: 0.5s;
  display: block;
  position: absolute;
  z-index: 1;
  left: -300px;
  top: 0;
  font-weight: 700;
}

.dropdownlist {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
}

.dropdown.hideMenu {
  animation-name: hideDropdawn;
}

.dropdown.showMenu {
  animation-name: showDropdawn;
  animation-fill-mode: forwards;
}

@keyframes showDropdawn {
  from {
    left: -200px;
  }

  to {
    left: -50px;
  }
}

@keyframes hideDropdawn {
  from {
    left: 0px;
  }

  to {
    left: -200px;
  }
}

.hamburger {
  color: white;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.hamburgerContainer {
  position: absolute;
  left: 0;
  top: 25px;
}

.headerlist {
  display: flex;
  flex-direction: row;
}

.closeIcon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.closeIcon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.headerlink:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.navlink {
  text-decoration: none;
  color: white;
  cursor: pointer;
  /* margin: 10px; */
}

.headerlink {
  margin-top: 10px;
}
