.header {
  background-color: #fff;
  width: 90%;
  margin: auto;
  height: 5rem;
  list-style: none;
  display: flex;
  margin: 0 auto 20px;
}

.header ul {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.header li {
  list-style: none;
  margin: 10px;
  cursor: pointer;
}
