.FormWrapper {
  border-radius: 10px;
  display: flex;
  margin: auto;
  width: 40rem;
  height: 10rem;
  background-color: white;
}

.Form {
  margin: auto;
}

.Form input {
  font-size: 1.5rem;
}

.Refresh {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Form input {
  margin: 5px;
}

.Form button {
  margin-left: 10px;
  font-size: 1.5rem;
  background-color: rgb(1, 178, 1);
  color: white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.Form button:hover {
  filter: brightness(120%);
}
