.FormSearchIconWrapper {
  width: 4rem;
  height: 100%;
  background-color: #323232;
  border: none;
  cursor: pointer;
  margin-left: -0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FormSearchIcon {
  color: white;
  font-size: 1.5rem;
}

.FormSearchIcon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.FormInputWrapper input {
  height: 3rem;
  font-size: 1.3rem;
  width: 35rem;
  outline: none;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.FormInputWrapper input:focus {
  box-shadow: 0 0 10px #719ece;
}

.FormSearchWrapper {
  display: flex;
  justify-content: center;
}
