.FormInputWrapper input {
  height: 3rem;
  font-size: 1.3rem;
  width: 35rem;
  outline: none;
  background-color: black;
  color: white;
  border: 1px solid black;
  margin-top: 10px;
}

.successmsg {
  color: green;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
}

.error-text {
  margin-top: 10px;
  color: rgb(199, 69, 69);
}

.FormWrapper {
  margin-bottom: 25px;
  width: 75%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  margin: auto;
  background-color: #323232;
}

.Form {
  margin: auto;
}

.FormInputWrapper input:focus {
  box-shadow: 0 0 10px #719ece;
}

.FormSubmitBtnWrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}
