.FormWrapper {
  margin-bottom: 25px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  margin: auto;
  box-shadow: 0 0 5px #719ece;
}

.Form {
  margin: auto;
}

.FormSearchIconWrapper {
  width: 4rem;
  height: 100%;
  background-color: #323232;
  border: none;
  cursor: pointer;
  margin-left: -0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.FormSearchEmptyWrapper {
  width: 4rem;
  height: 100%;
  background-color: black;
  border: none;
  cursor: pointer;
  margin-left: -0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.FormSearchIcon {
  color: white;
  font-size: 1.5rem;
}

.FormSearchIcon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.FormInputWrapper input {
  height: 3rem;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.FormInputWrapper input:focus {
  outline: none;
}

.FormSearchWrapper {
  display: flex;
  justify-content: center;
}
