.sortytypeselect {
  border: none;
}

.sorttypeselectcontainer {
  box-shadow: 0 0 5px #719ece;
  border: none;
  margin-bottom: 15px;
}

.dayMode {
  background-color: white;
  color: black;
}

.nightMode {
  background-color: black;
  color: white;
}

.sorttypelistcontainer {
  width: 85%;
  margin: auto;
  display: flex;
  position: relative;
}

.label {
  font-size: 15px;
  margin-right: 10px;
}
